.container_contacts{
    background-color: #222;
    color: #FFFFFF;
    position: relative;
}

.contacts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_block{
    text-align: center;
    line-height: normal;
}

.name{
    font-size: 3em;
    font-weight: bold;
    color: #FF5733;
}

.subName {
    margin: 2% auto;
    font-size: 1.3em;
    color: #F5F5DC;
}

.email{
    margin-top: 15%;
}

@media (max-width: 768px) {
    .name{
        font-size: 2.5em;
    }
    .subName{
        font-size: 1.3em;
    }
}