.footer {
    text-align: center;
    padding: 1%;
    background:  #1A1A1A;
    color: #ECF0F1;
    height: auto;
}

@media (max-width: 480px) {
    .footer {
        font-size: 1.5em;
        padding: 4%;
    }
}