.main{
    width: 100vw;
    height: auto;
    text-align: center;
    background-color: #222;
    position: relative;
}

.container_main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_main h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    color: #FF5733;
}

.container_main p {
    font-size: 1.2em;
    color: #F5F5DC;
}

.source{
    margin-top: 1%;
}

.source_p{
    display: inline;
}

.source_a{
    margin-left: 3%;
    font-size: 30px;
    text-decoration-line: none;
    color: #CC2400;;
}

.source_a:hover{
    color: #FF5733;
}

@media (max-width: 768px) {
    .container_main{
        width: 100%;
    }
    .source_a{
        font-size: 1em;
    }
    .container_main p{
        font-size: 0.8rem;
    }
}